mixin hero({ hero } = data)
    section.hero
        .container.hero__container
            .hero__illustration
                img(src=pathToFile+'images/illustration-hero.svg', alt="")
            .hero__text 
                h1.hero__heading #{hero.heading}
                p.hero__subheading #{hero.subheading}
                .hero__buttons
                    each button in hero.buttons
                        +button(button)
                            | #{button.text}
